:root {
  --green-blue-crayola: #171717;
  --dark-orange: #1b9f88;
  --white: #ffffff;
  --black: #000000;
  --gray-bg: #f5f5f5;
  --font-title: 'Oswald', sans-serif;
  --font-body: 'Rubik', sans-serif;
  --transition: 0.3s ease;
}

/* Hero principal */
.hero {
  background: url('../imagenes/contacto.png') no-repeat center center/cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f9fc;
  color: #1a1a1a;
}

.contact-section {
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.contact-text {
  flex: 1 1 45%;
  padding: 3rem;
  background-color: #f5f7fa;
}

.contact-text .subtitle {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.contact-text h1 {
  color: var(--green-blue-crayola);
    font-family: var(--font-title);
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.contact-text .description {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #555;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.contact-item {
  color: var(--green-blue-crayola);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-item img {
  width: 28px;
  height: 28px;
  background-color: var(--dark-orange);
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  color: var(--green-blue-crayola);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 15px;;
}

.contact-text strong {
  color: var(--black);
  font-weight: 600;
}

.contact-text span {
  color:var(--green-blue-crayola);
  font-size: 0.95rem;
}


.contact-form {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  flex: 1 1 55%;
 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form button {
  padding: 0.9rem 1rem;
 background: var(--indigo-dye);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--green-blue-crayola);
}
/* Fondo semitransparente centrado */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Círculo giratorio */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid white;
  border-top: 6px solid #1b9f88;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-text,
  .contact-form {
    flex: 1 1 100%;
    padding: 2rem;
  }

  .contact-text h1 {
    font-size: 1.7rem;
  }
}
